<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<style>
    button {
        padding-top: 10%;
    }
</style>
  <center>
      <br>
      <br>
      <br>

      Hellow this page use for creating product<br>
      Please Create Product or leave this page<br>
      <img src="http://test1.com/pictures/1.jpg" width="250" height="100">
  </center>
<body>
<!-- Button trigger modal -->
 <center>
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Create Product
 </button>
 </center>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="prd-desc">Product Description</label>
                <input type="text" class="form-control" id="prd-desc" aria-describedby="emailHelp" placeholder="Enter Product Description">
            </div>
            <div class="modal-body">
                <label for="prd-name">Product Name</label>
                <input type="text" class="form-control" id="prd-name" aria-describedby="emailHelp" placeholder="Enter Product Name">
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <lable for="prd-price"></lable>
                    <input type="text" class="form-control" id="prd-price" aria-label="Amount (to the nearest dollar)" placeholder="Enter Product Price">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
            </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <lable for="prd-weight"></lable>
                        <input type="text" class="form-control" id="prd-weight" aria-describedby="text" placeholder="Enter Product Weight">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>

</body>
